<!-- footer @s -->
<div class="nk-footer nk-footer-fluid">
  <div class="container-xl wide-xl mt-4 mb-4 ">
    <div class="row g-gs">
      <div class="col-md-6 col-xxl-3">
        <h3 class="nk-block-title page-title mb-4 text-white">Coinforecast</h3>
        <div class="nk-block-des text-soft text-white">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
      </div>  
      <div class="col-md-6 col-xxl-3">
        <h3 class="nk-block-title page-title mb-4 text-white">Helpdesk</h3>
        <ul>
          <li>
            <a href="#">Contact</a>
          </li>  
          <li>
            <a href="#">FAQ</a>
          </li>  
          <li>
            <a href="#">Sitemap</a>
          </li> 
          <li>
            <a href="#">Terms & Conditions</a>
          </li>   
        </ul>  
        <h3 class="nk-block-title page-title mt-2 mb-1 text-white">Community</h3>
        <ul>
          <li>
            <a href="#">Youtube</a>
          </li>  
          <li>
            <a href="#">Twitter</a>
          </li>  
          <li>
            <a href="#">Discord</a>
          </li>  
        </ul> 
      </div> 
      <div class="col-md-6 col-xxl-3">
        <h3 class="nk-block-title page-title mb-4 text-white">Developers</h3>
        <ul>
          <li>
            <a href="#">API</a>
          </li>  
          <li>
            <a href="#">Documentation</a>
          </li>  
          <li>
            <a href="#">Pricing</a>
          </li> 
          <li>
            <a href="#">Terms & Conditions</a>
          </li>   
        </ul> 
        <h3 class="nk-block-title page-title mt-2 mb-1 text-white">Community</h3>
        <ul>
           
          <li>
            <a href="#">Discord</a>
          </li>  
        </ul> 
      </div> 
      <div class="col-md-6 col-xxl-3">
        <h3 class="nk-block-title page-title mb-4 text-white">App Store</h3>
        <div class="nk-block-des text-soft">
          <p class="text-white">
            Download the Coinforecast App. Available for iOS and Android on App & Play Store.
          </p>
        </div>
        <div class="footer-app-store">       
          <a href="#">
            <img src="/assets/img/app-store-logos/apple-app-store.png" />
          </a> 
        </div> 
        <div class="footer-play-store">    
          <a href="#">
            <img src="/assets/img/app-store-logos/google-play-store.png" />
          </a> 
        </div> 
      </div> 
    </div>
  </div>
</div>
<div class="nk-footer nk-footer-fluid footer-small">
  <div class="container-xl wide-xl">
    <div class="row g-gs">
      <div class="col-md-6 col-xxl-6">
        &copy; 2022 <a href="https://data-metrics.de" target="_blank">Data Metrics UG</a>. All Rights Reserved.
      </div>  
      <div class="col-md-6 col-xxl-6 footer-legals-menu">
        <ul>
          <li>
            <a href="#">Imprint</a>
          </li>
          <li>
            |
          </li>   
          <li>
            <a href="#">Privacy Policy</a>
          </li> 
          <li>
            |
          </li> 
          <li>
            <a href="#">Terms & Conditions</a>
          </li>  
        </ul>  
      </div>  
  </div>
</div>
</div>
<!-- footer @e -->
<input type="hidden" name="currency-selection" value="<%= session.currency;%>" />