<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="author" content="Data Metrics UG">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= description; %>">
<meta name="csrf-token" content="<%= nonce; %>">
<!-- Fav Icon  -->
<link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/assets/img/brand/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="/assets/img/brand/favicon.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/brand/96x96/favicon.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/brand/apple-touch-icon.png">
<!-- Page Title  -->
<title><%= title; %></title>
<!-- StyleSheets  -->
<link rel="stylesheet" href="/assets/css/app.css">